RewriteEngine on
DirectoryIndex index.php

# <Limit POST GET>
# Allow from all

# </Limit>

# RewriteEngine On
# RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-l
# RewriteRule ^(.*)$ index.php?url=$1 [NC,QSA,L]

# RewriteCond %{HTTP_REFERER} !^http://acumatica.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://acumatica.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://api.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://api.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://archstonekenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://archstonekenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://logistics.archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://logistics.archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://outformationkenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://outformationkenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://outformationkenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://outformationkenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://test.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://test.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.acumatica.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.acumatica.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.api.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.api.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.logistics.archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.logistics.archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.test.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^http://www.test.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://acumatica.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://acumatica.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://api.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://api.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://archstonekenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://archstonekenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://logistics.archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://logistics.archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://outformationkenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://outformationkenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://outformationkenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://outformationkenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://test.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://test.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.acumatica.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.acumatica.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.api.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.api.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.logistics.archstonekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.logistics.archstonekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.futurekenya.com$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.test.futurekenya.com/.*$      [NC]
# RewriteCond %{HTTP_REFERER} !^https://www.test.futurekenya.com$      [NC]
# RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://acumatica.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://acumatica.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://api.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://archstonekenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://archstonekenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jobs.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jobs.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://logistics.archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://logistics.archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://outformationkenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://outformationkenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://outformationkenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://outformationkenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.acumatica.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.acumatica.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.api.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.archstonekenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jobs.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jobs.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.logistics.archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.logistics.archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.outformationkenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://acumatica.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://acumatica.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://api.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://archstonekenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://archstonekenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jobs.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jobs.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://logistics.archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://logistics.archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://outformationkenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://outformationkenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://outformationkenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://outformationkenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.acumatica.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.acumatica.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.api.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.archstonekenya.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jobs.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jobs.futurekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.logistics.archstonekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.logistics.archstonekenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.futurekenya.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.outformationkenya.futurekenya.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

